@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

body {
  background: #7f7f7f;
  font-size: 120%;
  // padding-top: 10vh;
}
.content {
  padding-top: 10vh;
}
