@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #60D394;
}

body {
  background: black;
  font-size: 120%;
}
.content {
  padding-top: 10vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10vh;
}

@media only screen and (max-width: 800px) {
  nav {
    bottom: 0;
  }
  .content {
    padding-top: 5vh;
  }
}